<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop mdl-cell--1-offset-tablet mdl-cell--middle custom-cell--center">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__actions mdl-card--border">
          <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="account-grant">
            grant offline access
          </button>
          <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="account-signout">sign out</button>
      </div>
    </div>
  </div>
</div>