<div>
  <div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">
      <div class="page-content">

        <div class="mdl-grid">

          <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone mdl-cell--middle">

            <div class="mdl-card mdl-shadow--2dp" style="width: 100%; padding: 30px;">
              <div class="mdl-card__title" style="padding: 0px;">
                <h3 style="margin: 0px; font-weight: 300;">Welcome to Simplr</h3>
              </div>
              <div class="mdl-card__title" style="padding: 0px;">
                <p style="margin: 0px;">Sign in to Simplr or keep your inbox messy.</p>
              </div>
              <div class="mdl-card__supporting-text" style="width: 100%; text-align: center;">
                <% if ( isPending() ) {%>

                  <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>

                <% } else { %>
                  <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="width: 100%; font-size: 16px; margin: 20px 0 10px; font-weight: 300; height: 50px; border: 1px solid rgba(76,87,102,0.1); color: #000000;" id="signin">
                    <span class="icon"></span>
                    Continue With Google
                  </button>

                  <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="width: 100%; font-size: 16px; margin: 20px 0 10px; font-weight: 300; height: 50px; background-color: #55acee; color: #ffffff;">
                    Continue With Other
                  </button>

                <% } %>
                <small>Contribute to the project on <a href="https://github.com/danrpts/webmail_DMZ">github</a>!</small>
              </div>
              <div class="mdl-card__menu">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                  <i class="material-icons">details</i>
                </button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </main>
  </div>
</div>