<div>
  <div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="mdl-card mdl-shadow--2dp" style="margin: 1em auto; width: 400px;">

          <% if ( isPending() ) {%>

          <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>

          <% } else { %>
          
          <div class="mdl-card__title" style="height: 176px">
            <h1 class="mdl-card__title-text">Welcome to Mail</h1>
          </div>
          <div class="mdl-card__supporting-text">
            Mail is a simpler way to process your email.
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <% if ( isPending() ) { %>
              <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
            <%} else { %>
              <button id="signin" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Sign In With Google
              </button>
            <% } %>
          </div>
          <div class="mdl-card__menu">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons">info</i>
            </button>
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
              <i class="material-icons">share</i>
            </button>
          </div>

          <% } %>

        </div>
      </div>
    </main>
  </div>
</div>