<div>

  <% if ( isPending() ) { %>
      
    <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate custom-progress__indeterminate">
    </div>
    
  <% } else { %>


    <div class="mdl-grid">

      <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone mdl-cell--middle custom-cell--center"></div>

      <div class="mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone mdl-cell--middle custom-cell--center">

        <ul class="demo-list-two mdl-list">
          <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
              <span><%= getHeader('From') %></span>
              <span class="mdl-list__item-sub-title"><%= getHeader('To') %></span>
            </span>
            <span class="mdl-list__item-secondary-content"> 
              <i class="material-icons mdl-list__item-avatar">person</i>
            </span>
          </li>
          <li class="mdl-list__item mdl-list__item--two-line">
            <span class="mdl-list__item-primary-content">
              <span><%= getHeader('Subject') %></span>
              <span class="mdl-list__item-sub-title"><%= getHeader('Date') %></span>
            </span>
          </li>
        </ul>

        <%= getBody() %>
        
      </div>

      <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone mdl-cell--middle custom-cell--center"></div>

    </div>

  <% } %>

</div>
