<div>


  <% if ( isPending() ) { %>
  
    <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate custom-progress__indeterminate">
    </div>

  <% } else if ( isEmpty() ) { %>
 
    <p>There is nothing here.<p>

  <% } else { %>

    <div class="mdl-grid">
      
      <div class="mdl-cell mdl-cell--12-col">
      
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable" style="width: 100%">
          <thead style="background-color: transparent;">
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Whom</th>
              <th class="mdl-data-table__cell--non-numeric">What</th>
              <th class="mdl-data-table__cell--non-numeric">When</th>
            </tr>
          </thead>
          <tbody>
            <% each(function (message) { %>
            <tr>
              <td class="mdl-data-table__cell--non-numeric"><%= message.getHeader('From') %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= message.getHeader('Subject') %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= message.getHeader('Date') %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>

      </div>

    </div>

  <% } %>

</div>
