<div style="width: 100%; height: 100%;">

  <div class="mdl-layout mdl-js-layout
              mdl-layout--fixed-header">

    <header class="mdl-layout__header
                   mdl-color--white
                   mdl-color-text--grey-700"
            style="box-shadow: none;">
      
      <div class="mdl-layout__header-row"
           style="padding: 0 16px;
                  border-bottom: 1px solid #e0e0e0;">


      <% if ( isPending() ) { %>

        <span style="width: 32px; height: 32px;">
          <span class="mdl-spinner mdl-js-spinner is-active"></span>
        </span>
        
      <% } else { %>

        <button class="mdl-button
                   mdl-js-button
                   mdl-button--icon"
                id="tag">
          <i class="fa fa-circle-thin
                    material-icons
                    mdl-color-text--grey-300"
           aria-hidden="true"
           style="font-size: 14px;"></i>
        </button>

        <ul class="mdl-menu 
                   mdl-menu--bottom-left
                   mdl-js-menu"
            for="tag">
          <li class="mdl-menu__item"
              id="star"
              style="color: rgba(0,0,0,.64);">
            <% if ( isStarred() ) { %>
             <i class="fa fa-star
                       mdl-color-text--amber-300"
                aria-hidden="true"></i>
            <% } else { %>
             <i class="fa fa-star-o
                       mdl-color-text--grey"
                aria-hidden="true"></i>
            <% } %>
            &nbsp;&nbsp;Star
          </li>
          <li class="mdl-menu__item"
              id="important"
              style="color: rgba(0,0,0,.64);">
            <% if ( isImportant() ) { %>
             <i class="fa fa-bookmark mdl-color-text--indigo-300"
                aria-hidden="true"></i>
            <% } else { %>
             <i class="fa fa-bookmark-o
                      mdl-color-text--grey"
                aria-hidden="true""></i>
            <% } %>
            &nbsp;&nbsp;Important
          </li>
          <li class="mdl-menu__item"
              id="important"
              style="color: rgba(0,0,0,.64);">
            <% if ( isSnoozed() ) { %>
             <i class="fa fa-bookmark mdl-color-text--indigo-300"
                aria-hidden="true"></i>
            <% } else { %>
             <i class="fa fa-clock-o
                      mdl-color-text--grey"
                aria-hidden="true""></i>
            <% } %>
            &nbsp;&nbsp;Snooze
          </li>
          <li class="mdl-menu__item 
                     mdl-menu__item--full-bleed-divider"
              style="color: rgba(0,0,0,.64);">
            <% if ( isFlagged() ) { %>
             <i class="fa fa-flag
                       mdl-color-text--red-800"
                aria-hidden="true"></i>
            <% }  else { %>
             <i class="fa fa-flag-o
                       mdl-color-text--grey"
                aria-hidden="true"></i>
            <% } %>
            &nbsp;&nbsp;Flag
          </li>
          <li class="mdl-menu__item"
              style="color: rgba(0,0,0,.64);">
            <i class="fa fa-circle-thin
                      mdl-color-text--red-300"
               aria-hidden="true"></i>
            &nbsp;&nbsp;Red
          </li>
          <li class="mdl-menu__item"
              style="color: rgba(0,0,0,.64);">
            <i class="fa fa-circle-thin
                      mdl-color-text--orange-300"
               aria-hidden="true"></i>
            &nbsp;&nbsp;Orange
          </li>
          <li class="mdl-menu__item"
              style="color: rgba(0,0,0,.64);">
            <i class="fa fa-circle-thin
                      mdl-color-text--yellow-300"
               aria-hidden="true"></i>
            &nbsp;&nbsp;Yellow
          </li>
          <li class="mdl-menu__item"
              style="color: rgba(0,0,0,.64);">
            <i class="fa fa-circle-thin
                      mdl-color-text--green-300"
               aria-hidden="true"></i>
            &nbsp;&nbsp;Green
          </li>
          <li class="mdl-menu__item"
              style="color: rgba(0,0,0,.64);">
            <i class="fa fa-circle-thin
                      mdl-color-text--blue-300"
               aria-hidden="true"></i>
            &nbsp;&nbsp;Blue
          </li>
          <li class="mdl-menu__item
                     mdl-menu__item--full-bleed-divider"
              style="color: rgba(0,0,0,.64);">
            <i class="fa fa-circle-thin
                      mdl-color-text--purple-300" 
               aria-hidden="true"></i>
            &nbsp;&nbsp;Purple
          </li>
          <li class="mdl-menu__item"
              style="color: rgba(0,0,0,.64);">
            <span style="float: left; text-align: left;">
              <i class="material-icons"
                 style="font-size: 14px;
                        line-height: inherit;">brightness_auto</i>
            </span>
            &nbsp;&nbsp;Auto
          </li>
        </ul>

      <% } %>

        <div style="flex: 1; 
                    text-align: left;
                    min-width: 0;">
          <span class="mdl-layout-title"
                style="font-size: 14px;
                       font-weight: 400;
                       letter-spacing: 0;
                       line-height: 24px;
                       color: rgba(0,0,0, .64);
                       text-overflow: ellipsis;
                       white-space: nowrap;
                       overflow: hidden;
                       padding-left: 8px;">
              <%= getSubject() %>
          </span>
        </div>

        <div style="text-align: right;">
          <button class="mdl-button
                         mdl-js-button
                         mdl-button--icon"
                  id="prev">
            <i class="material-icons">chevron_left</i>
          </button>
          <button class="mdl-button
                         mdl-js-button
                         mdl-button--icon"
                  id="next">
            <i class="material-icons">chevron_right</i>
          </button>
          <button id="actions"
                  class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu 
                     mdl-menu--bottom-right
                     mdl-js-menu
                     mdl-js-ripple-effect"
              for="actions">
            <li class="mdl-menu__item"
                style="color: rgba(0,0,0,.64);">
              <span style="float: left; text-align: left;">
                <i class="material-icons"
                   style="font-size: 14px;
                          line-height: inherit;">reply</i>
              </span>
              &nbsp;&nbsp;Reply
            </li>
            <li class="mdl-menu__item"
                style="color: rgba(0,0,0,.64);">
              <span style="float: left; text-align: left;">
                <i class="material-icons"
                   style="font-size: 14px;
                          line-height: inherit;">forward</i>
              </span>
              &nbsp;&nbsp;Forward
            </li>
            <li class="mdl-menu__item
                       mdl-menu__item--full-bleed-divider"
                style="color: rgba(0,0,0,.64);">
              <span style="float: left; text-align: left;">
                <i class="material-icons"
                   style="font-size: 14px;
                          line-height: inherit;">archive</i>
              </span>
              &nbsp;&nbsp;Archive...
            </li>
            <li class="mdl-menu__item
                       mdl-menu__item--full-bleed-divider"
                style="color: rgba(0,0,0,.64);">
              <span style="float: left; text-align: left;">
                <i class="fa fa-trash-o"
                   style="text-align: center; width: 14px; font-size: 14px;"></i>
              </span>
              &nbsp;&nbsp;Delete
            </li>
            <li class="mdl-menu__item"
                style="color: rgba(0,0,0,.64);">
              Print... <span style="float: right; text-align: right;">&#8984;P</span>
            </li>
            <li class="mdl-menu__item"
                style="color: rgba(0,0,0,.64);">
              Download <span style="float: right; text-align: right;">&#8984;S</span>
            </li>
            <li class="mdl-menu__item"
                style="color: rgba(0,0,0,.64);">
                Fullscreen <span style="float: right; text-align: right;">&#8984;F</span>
            </li>
            <li class="mdl-menu__item
                       mdl-menu__item--full-bleed-divider"
                style="color: rgba(0,0,0,.64);">
                Window <span style="float: right; text-align: right;">&#8984;N</span>
            </li>
            <li class="mdl-menu__item"
                style="color: rgba(0,0,0,.64);">
              Previous <span style="float: right; text-align: right;">&#8592;</span>
            </li>
            <li class="mdl-menu__item"
                style="color: rgba(0,0,0,.64);">
              Next <span style="float: right; text-align: right;">&#8594;</span>
            </li>
            <li class="mdl-menu__item
                       mdl-menu__item--full-bleed-divider"
                style="color: rgba(0,0,0,.64);">
              Close <span style="float: right; text-align: right;">Esc</span>
            </li>
            <li class="mdl-menu__item"
                style="color: rgba(0,0,0,.64);">
              <span style="float: left; text-align: left;">
                <i class="material-icons"
                   style="font-size: 14px;
                          line-height: inherit;">info_outline</i>
              </span>
              &nbsp;&nbsp;Details
            </li>
          </ul>
          <button href="/"
                  class="mdl-button
                         mdl-js-button
                         mdl-button--icon"
                  id="close">
            <i class="material-icons">close</i>
          </button>
        </div>
      </div>

      <div class="mdl-layout__header-row"
           style="padding: 0 16px;
                  border-bottom: 1px solid #e0e0e0;">

        <button class="mdl-button
                       mdl-js-button"
                style="padding: 0 8px;
                       flex: 1; 
                       text-align: left;
                       min-width: 0;">
          <span class="mdl-layout-title"
                style="font-size: 14px;
                       font-weight: 400;
                       letter-spacing: 0;
                       line-height: 32px;
                       height: 32px;
                       text-overflow: ellipsis;
                       white-space: nowrap;
                       overflow: hidden;
                       color: rgba(0,0,0,.64);
                       text-transform: initial;">
            <span style="float: left; text-align: left;">
              <i class="material-icons"
                 style="font-size: 14px;
                        line-height: inherit;">person</i>
            </span>
            &nbsp;
            <%= getFrom() %>
          </span>
        </button>

        <button class="mdl-button
                       mdl-js-button"
                style="padding: 0 8px;">
          <span style="text-align: left;
                       color: rgba(0,0,0,.64);">
            <% if ( isStarred() ) { %>
            <i class="fa fa-star
                      mdl-color-text--amber-300"
               aria-hidden="true"></i>
            <% } %>
            <% if ( isImportant() ) { %>
            <i class="fa fa-bookmark
                      mdl-color-text--indigo-300"
               aria-hidden="true"></i>
            <% } %>
            <% if ( hasAttachment() ) { %>
            <i class="fa fa-paperclip"
               aria-hidden="true"
               style="color: rgba(0,0,0,.54);"></i>
            <% } %>
          </span>
          <span style="font-size: 14px;
                       font-weight: 400;
                       letter-spacing: 0;
                       text-align: right;
                       color: rgba(0,0,0,.64);
                       text-transform: initial;">
            <%= getHumanDate() %>
          </span>
        </button>

      </div>

    </header>

    <main class="mdl-layout__content
                 mdl-color--white"
          style="padding: 16px;
                 color: rgba(0,0,0,.64);
                 font-size: 14px;
                 font-weight: 400;
                 letter-spacing: 0;">

      <% if ( isPending() ) { %>
          
        Loading message...
        
      <% } else { %>

        <%= getBody() %>

      <% } %>

    </main>

  </div>

</div>