<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop mdl-cell--1-offset-tablet mdl-cell--middle custom-cell--center">

    <div class="mdl-card mdl-shadow--2dp" style="width: 100%; padding: 48px;">

      <h3 style="margin: 0; font-weight: 300;">Tell your friends</h3>
      
      <p style="margin: 0; font-weight: 300;">A messy inbox is futile.</p>

      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="share-back">
          <i class="material-icons">arrow_backward</i>
        </button>
      </div>

      <div id="share-chips"></div>

      <div class="mdl-card__actions">
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Send
        </button>
      </div>

    </div>

  </div>

</div>
