<div class="mdl-grid" style="border-bottom: 1px solid rgba(0,0,0,.12)">

  <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone mdl-cell--middle custom-cell--center">
    <span class="mdl-layout-title custom-layout-title">
      <a class="clear" href="/" id="title">Mail</a>
    </span>
  </div>

  <div class="mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--2-col-phone mdl-cell--middle custom-cell--center" id="input"></div>

  <div class="mdl-cell mdl-cell--1-col-desktop mdl-cell--1-col-tablet mdl-cell--1-col-phone mdl-cell--middle custom-cell--center">

    <button class="mdl-button mdl-js-button mdl-button--icon" id="avatar">
      <img src="<%= getImageUrl() %>" width="32px" height="32px" />
    </button>

  </div>

</div>
