<!-- Top row, always visible -->
<div class="mdl-layout__header-row">
  <!-- Title -->
  <span class="mdl-layout__title" style="font-weight: 300">
    <a class="clear" href="/" id="title">SimpleMail</a>
  </span>
  <div class="mdl-layout-spacer"></div>
  <button class="mdl-button mdl-js-button mdl-button--icon" id="avatar">
    <img src="<%= getImageUrl() %>" width="32px" height="32px" />
  </button>
</div>
<div class="mdl-layout__header-row">
  <div id="search" style="width: 100%;"></div>
</div>