<div class="mdl-textfield"
     style="width: 100%;
            height: 34px;
            padding: 1px 0;
            vertical-align: middle;
            box-sizing: border-box;">

    <input class="mdl-textfield__input"
           type="text"
           autocomplete="off"
           id="filter-textarea"
           style="border: none;
                  height: 34px;
                  padding: 0 4px 0 12px;
                  outline: none;
                  width: initial;"
           placeholder="Filter">
    
</div>
