<div class="mdl-textfield"
     style="width: 100%;
            height: 34px;
            padding: 1px 0;
            vertical-align: middle;
            box-sizing: border-box;">
  
  <div style="display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              overflow: auto;
              height: 100%;
              width: 100%;">

    <div id="chips-list"
         style="flex-grow: 1;">

         <!-- Chips list injected here  -->
    
    </div>
    
    <div style="flex-grow: 1;
                padding: 0 4px 0 12px">
    
      <input class="mdl-textfield__input"
             type="text"
             autocomplete="off"
             id="chips-textarea"
             style="font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 0;
                    color: rgba(0,0,0,.54);
                    border: none;
                    outline: none;
                    width: initial;
                    height: 34px;
                    padding: 0;
                    outline: none;"
             placeholder="Search">
    
    </div>
  
  </div>
    
</div>
